{{define "nav-main"}}
<nav>
    <ul>
        <li><a href="/">INDEX</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/apply">APPLY PROCESS</a></li>
    </ul>
</nav>
{{end}}